.logo__icon::before{
    display: inline-block;
    position: relative;
    padding:0;
    margin: 0;
    outline: none;
    border-style: none;
    width: 2rem;
    height: 2rem;
    content: "";
    background-image: url(../../assets/icons/game.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-clip: border-box;
    filter: hue-rotate(50deg);
}