.card{
    flex: 1 1 10%;
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;
    box-sizing: border-box;
}

@media screen and (max-width: 480px) {
    .card{
       flex-wrap: wrap;
       flex: 1 1 45%;
    }
}